<div class="ev-header">
  <div class="ev-topbar">
    <div class="ev-search">
      <input
        type="text"
        (input)="onSearch($any($event.target).value)"
        placeholder="Search products, brands..."
      />
      <button class="ev-search-btn">
        <svg width="15" height="15" viewBox="0 0 20 20" fill="currentColor">
          <path
            fill-rule="evenodd"
            d="M8 4a4 4 0 100 8 4 4 0 000-8zM2 8a6 6 0 1110.89 3.476l4.817 4.817a1 1 0 01-1.414 1.414l-4.816-4.816A6 6 0 012 8z"
            clip-rule="evenodd"
          />
        </svg>
      </button>
    </div>
  </div>
  <nav class="filter-nav">
    <div class="ev-fbar">
      <div class="ev-fg ev-nav-item">
        <span class="ev-fl">Rating</span>
        <button class="ev-nav-btn ev-rating-btn">
          <span class="ev-star">★</span>
          <svg
            class="ev-nav-chevron"
            viewBox="0 0 10 6"
            fill="none"
            stroke="currentColor"
            stroke-width="1.5"
          >
            <path d="M1 1l4 4 4-4" />
          </svg>
        </button>
        <div class="ev-dropdown ev-rating-dropdown">
          <a (click)="onMinRating(0)">Any</a>
          <a (click)="onMinRating(4)">★★★★☆ 4+</a>
          <a (click)="onMinRating(3)">★★★☆☆ 3+</a>
          <a (click)="onMinRating(2)">★★☆☆☆ 2+</a>
        </div>
      </div>

      <div class="ev-fg">
        <span class="ev-fl">Price</span>
        <div class="ev-price-w">
          <input
            class="ev-pinput"
            type="number"
            placeholder="Min $"
            [(ngModel)]="filters.MinPrice"
            (ngModelChange)="onMinPrice($event)"
          />
          <span class="ev-psep">—</span>
          <input
            class="ev-pinput"
            type="number"
            placeholder="Max $"
            [(ngModel)]="filters.MaxPrice"
            (ngModelChange)="onMaxPrice($event)"
          />
        </div>
      </div>
      <div class="filter-nav-item">
        <button class="filter-nav-btn change-display">
          {{ selectedCategoryName }}
          <svg
            class="filter-nav-chevron"
            viewBox="0 0 10 6"
            fill="none"
            stroke="currentColor"
            stroke-width="1.5"
          >
            <path d="M1 1l4 4 4-4" />
          </svg>
        </button>
        <div class="filter-dropdown">
          <a
            [class.active]="filters.CategoryId === null "
            (click)="selectCategory(null, 'Categories')"
            >All Categories</a
          >
          @for (item of categoriesArr; track $index) {
            <a
              [class.active]="filters.CategoryId === item.id"
              (click)="selectCategory(item.id, item.name)"
              >{{ item.name }} {{ item.productCount }} {{ item.brand }}</a
            >
          }
        </div>
      </div>
      <div class="filter-nav-item">
        <button class="filter-nav-btn change-display">
          {{ filters.Brand ? filters.Brand : 'Brands' }}
          <svg
            class="filter-nav-chevron"
            viewBox="0 0 10 6"
            fill="none"
            stroke="currentColor"
            stroke-width="1.5"
          >
            <path d="M1 1l4 4 4-4" />
          </svg>
        </button>
        <div class="filter-dropdown">
          <a [class.active]="filters.Brand === null" (click)="selectBrand(null)">All Brands</a>
          @for (item of brandsArr; track $index) {
            <a [class.active]="filters.Brand === item" (click)="selectBrand(item)">{{ item }}</a>
          }
        </div>
      </div>

      <div class="ev-fg">
        <label class="ev-instock-wrap">
          <input type="checkbox" (change)="onInStock($event.target.checked)" />
          <div class="ev-toggle"></div>
          <span class="ev-instock-label">In Stock only</span>
        </label>
      </div>

      <div class="ev-fg ev-fg--sort">
        <span class="ev-fl">Sort by</span>
        <select class="ev-fsel" (change)="onSortBy($any($event.target).value)">
          <option value="nulldefault">Default</option>
          <option value="price_asc">Price: Low to High</option>
          <option value="price_desc">Price: High to Low</option>
          <option value="rating_desc">Top Rated</option>
          <option value="name_asc">Name: A–Z</option>
          <option value="name_desc">Name: Z–A</option>
          option>
        </select>
      </div>

      <button class="ev-clear-btn" (click)="clearFilters()">Clear all</button>
    </div>
  </nav>

  @if (loading) {
    <div class="loading">
      <div class="loading-spinner"></div>
      <span class="loading-text">Loading products...</span>
    </div>
  } @else {
    <div class="products-grid">
      @for (item of allProducts; track item.id) {
        <div class="card">
          <div class="card-img">
            <img [src]="item.imageUrl" alt="" />
            <div class="card-actions">
              <button class="card-action-btn" title="Wishlist">
                <svg
                  width="15"
                  height="15"
                  viewBox="0 0 24 24"
                  fill="none"
                  stroke="currentColor"
                  stroke-width="2"
                >
                  <path
                    d="M20.84 4.61a5.5 5.5 0 00-7.78 0L12 5.67l-1.06-1.06a5.5 5.5 0 00-7.78 7.78l1.06 1.06L12 21.23l7.78-7.78 1.06-1.06a5.5 5.5 0 000-7.78z"
                  />
                </svg>
              </button>
              <button class="card-action-btn view"  (click)="goToDetails(item.id)" style="cursor:pointer" title="Quick view">
                <svg
                  width="15"
                  height="15"
                  viewBox="0 0 24 24"
                  fill="none"
                  stroke="currentColor"
                  stroke-width="2"
                >
                  <path d="M1 12s4-8 11-8 11 8 11 8-4 8-11 8-11-8-11-8z" />
                  <circle cx="12" cy="12" r="3" />
                </svg>
              </button>
            </div>
          </div>

          <div class="card-body">
            <div class="card-meta">
              <span class="card-cat">{{ item.category.name }}</span>
              <span class="card-dot">•</span>
              <span class="card-brand">{{ item.brand }}</span>
            </div>
            <p class="card-name">{{ item.name }} {{item.rating}}</p>
            <div class="card-rating">
              <span class="card-cat">In Stock {{ item.stock }}</span>
            </div>
            <div class="card-price"><span>₾</span>{{ item.price }}</div>
            <button class="card-add" (click)="addToCart(item.id)">
              <svg
                width="15"
                height="15"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="2"
              >
                <circle cx="9" cy="21" r="1" />
                <circle cx="20" cy="21" r="1" />
                <path d="M1 1h4l2.68 13.39a2 2 0 001.99 1.61h9.72a2 2 0 001.99-1.61L23 6H6" />
              </svg>
              Add to Cart
            </button>
          </div>
        </div>
      }
    </div>
  }

  <!-- [(ngModel)]="searchQuery" -->
  <!-- (ngModelChange)="onSearchChange()" -->
</div>
